@font-face {
	font-family: "Geometo";
	src: local("Geometo"),
	  url("./assets/fonts/geometos_rounded-webfont.woff");
  }

:root {
	--primary: #0077c1;
	--text: white;

	--text-hover: #a3b9c7;

	--bg-card-ecopoint: #86bc25;
	--bg-card-lieu_interet: white;
	--bg-card-transport: #ed7607;
	--color-card-lieu_interet: rgb(29, 29, 29);

	--bg-active-ecopoint: rgb(0, 88, 21);
	--bg-active-lieux_interet: #005082;
	--bg-active-transport: #442c15;

	--icon-close-color-lieux_interet: rgb(255, 255, 255);

	--hover-close-icon-lieux_interet: rgb(255, 255, 255);
	--hover-close-icon-ecopoints: rgb(255, 255, 255);
	--show-location-list: #86a7bc;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}
.neighborhood {
	font-family: "Geometo", Arial, Helvetica, sans-serif !important;
}


/* map */
body {
	overflow: hidden;
	margin: 0;
}

.graph {
	position: relative;
	display: block;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	cursor: all-scroll;
}

.graph:before {
	content: "";
	padding-top: 70.71%;
	display: block;
}

.link_modal {
	color: var(--primary);
}

/* PANEL */
/* toggle panel */
#container-hide-panel, #container-show-panel  {
	cursor: pointer;
	position: absolute;
	top: 20px;
	padding: 15px;
	border-radius: 100%;
}

#container-hide-panel {
	border: 1px solid white;
	right: 0px;
}

#container-show-panel {
	z-index: 1;
	left: 20px;
	background-color: var(--primary);
}

.panel-hide, .panel-show {
	transition: 1s;
}

.panel-hide {
	transform: translateX(-100vw);
}

.panel-show {
	transform: translateX(0);
}

#icon-hide-panel, #icon-show-panel  {
	fill: white;
	width: 25px;
	height: 25px;
}
/* end toggle panel */
#panel {
	display: flex;
	justify-content: center;
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 18vw;
	background-color: var(--primary);
}

#panel-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#panel-ul {
	height: 80vh;
	padding-left: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.panel-item {
	margin-bottom: 15px!important;
}

#panel-container li {
	cursor: pointer;
	list-style: none;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.panel-item-label {
	font-size: 1rem;
	color: var(--text);
}

#panel-container li:hover {
	color: var(--text-hover);
}

.panel-icon-eye-close,
.panel-icon-eye-open {
	width: 30px;
	margin-right: 10px;
}

.panel-icon-more {
	width: 30px;
	margin-left: 10px;
}

.panel-icon-more--active {
	transform: rotate(180deg) !important;
}

#container-subitems-location {
	margin: 0 !important;
}

.panel-subitem-location {
	font-size: 0.9rem;
}

.panel-subitem-location--svg circle {
	fill: var(--show-location-list) !important;
	transition: 0.5s;
}

.panel-item-extensible {
	display: flex;
	flex-direction: column;
}

.panel-item-extensible li {
	margin-bottom: 5px !important;
	color: white;
}

.panel-item-extensible-number {
	margin-right: 7px;
	font-size: 0.7rem !important;
	font-weight: 500;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 100%;
	color: var(--primary) !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel-item--active {
	opacity: 1;
}

.panel-item--inactive {
	opacity: 0.5;
}

#troinex {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

a {
	text-decoration: none;
}

.button-container {
	display: flex;
	position: fixed;
	z-index: 999;
	bottom: 10px;
	right: 10px;
}

.button-container .button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	font-size: 30px;
	line-height: 28px;
	text-align: center;
	background: #0078c1;
	color: var(--text);
}

#zoomIn {
	border-radius: 10px 0 0 10px;
	margin-right: 1px;
}

#zoomOut {
	border-radius: 0 10px 10px 0;
}

/* rest */
.hide {
	display: none !important;
}

#TRANSPORTS, #ECOPOINTS, #LIEUX_INTERET  {
	cursor: pointer;
}

/* modals */
.modal_pointer--reversed, .ecopoint_modal_pointer--reversed, .transport_modal_pointer--reversed {
	transform: rotate(180deg) !important;
	position: absolute;
	left: 320px !important;
}

.lieu_interet_modal, .ecopoint_modal, .transport_modal  {
	position: absolute;
	z-index: 100;
	width: 300px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.373);
	animation: fadein 0.5s forwards;
}

.ecopoint_modal {
	background-color: var(--bg-card-ecopoint);
	color: white;
}

.lieu_interet_modal {
	background-color: var(--bg-card-lieu_interet);
	color: var(--color-card-lieu_interet);
}

.transport_modal {
	background-color: var(--bg-card-transport);
	color: white;
}

#ecopoint_modal_close_icon, #lieu_interet_modal_close_icon {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

#ecopoint_modal_close_icon {
	color: rgb(255, 255, 255) !important;
}
#ecopoint_modal_close_icon:hover {
	color: var(--hover-close-icon-ecopoints) !important;
}

#lieu_interet_modal_close_icon {
	color: var(--icon-close-color-lieux_interet) !important;
}
#lieu_interet_modal_close_icon:hover {
	color: var(--hover-close-icon-lieux_interet) !important;
}

.lieu_interet_image {
	border-radius: 5px;
	height: 150px;
	width: 100%;
	object-fit: cover;
}

.lieu_interet_url {
	font-weight: bold;
}

.lieu_interet_titre {
	font-size: 1.5rem;
	margin: 10px 0;
}

.modal_pointer {
	position: absolute;
	left: -20px;
	top: 48%;
	border: 10px solid black;
	border-color: transparent var(--bg-card-lieu_interet) transparent transparent;
	width: 0px;
	height: 0px;
}

.active {
	fill: var(--bg-active-lieux_interet) !important;
}

/* ECOPOINTS */
.ecopoint_url {
	font-weight: bold;
}

.ecopoint_titre {
	font-size: 1.5rem;
	margin: 10px 0;
}

.ecopoint_modal_pointer {
	position: absolute;
	left: -20px;
	top: 40%;
	border: 10px solid var(--bg-card-ecopoint);
	border-color: transparent var(--bg-card-ecopoint) transparent transparent;

	width: 0px;
	height: 0px;
}

.ecopoint_icon {
	width: 70px;
	margin-right: 5px;
}

.active-ecopoint {
	fill: var(--bg-active-ecopoint) !important;
}

/* TRANSPORTS */
#transport_modal_close_icon {
	position: absolute;
	top: 15px;
	right: 15px;
	color: rgb(255, 255, 255) !important;
	cursor: pointer;
}

#transport_modal_close_icon:hover {
	color: var(--hover-close-icon-transports) !important;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.transport_url {
	font-weight: bold;
}

.transport_titre {
	font-size: 1.5rem;
	margin: 10px 0;
}

.transport_modal_pointer {
	position: absolute;
	left: -20px;
	top: 40%;
	border: 10px solid var(--bg-card-transport);
	border-color: transparent var(--bg-card-transport) transparent transparent;
	width: 0px;
	height: 0px;
}

.transport_icon {
	width: 70px;
	margin-right: 5px;
}

.active-transport {
	fill: var(--bg-active-transport) !important;
}

/* Helper */
.helper-focus rect {
	fill: red !important;
}

.helper-focus circle {
	fill: red !important;
}

/* ALL */
.svg-scrim {
	pointer-events: none;
	z-index: 5;
}

.wheel-animation {
	animation: pulse 1s infinite !important;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.proxy {
	fill: none;
	stroke: none;
}

.controls {
	position: fixed;
	top: 0;
	left: 0;
	padding: 12px;
	z-index: 10;
}

.controls-button {
	font-weight: 700;
}

.info {
	user-select: none;
	pointer-events: none;
}

.info ul {
	font-size: 13px;
	list-style-type: none;
	padding: 0;
	line-height: 20px;
	margin-top: 0;
}

.svg-background {
	fill: none;
	stroke: none;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) { 

	#panel {
		width: 23vw;
	}

	#container-hide-panel {
		right: 5px !important;
	}
}

@media only screen and (max-width: 1200px) { 

	#panel {
		width: 24vw;
	}

	#container-hide-panel {
		right: 5px !important;
	}

	.panel-item-label {
		font-size: 0.9rem;
	}

	.panel-subitem-location {
		font-size: 0.8rem !important;
	}

}

@media only screen and (max-width: 992px) {
	#panel {
		width: 35vw;
	}

	.panel-item {
		margin-bottom: 5px !important;
	}

	.panel-item span {
		font-size: 0.900rem;
	}

	.panel-subitem-location {
		font-size: 0.800rem;
		margin-right: 5px;
	}

	#container-hide-panel {
		right: -20px !important;
	}

	#panel {
		top: 45vh;
		width: 100vw;
	}

	#container-show-panel, #container-hide-panel  {
		display: none;
	}

	/* location */
	.lieu_interet_image {
		height: 100px;
	}

	.lieu_interet_description {
		font-size: 1rem !important;
		margin: 2px 0;
	}
	
	.lieu_interet_url {
		font-size: 0.8rem;
		font-weight: bold;
	}
	
	.lieu_interet_titre {
		font-size: 1rem;
		margin: 5px 0;
	}

	/* transports */
	.transport_titre {
		font-size: 0.850rem;
	}

	.panel-item-extensible-number {
		width: 15px;
		height: 15px;
		font-size: 0.7rem !important;
		margin-right: 5px !important;
	}

	#panel-container li {
		list-style: none;
		margin-bottom: 5px;
		display: flex;
		align-items: center;
	}

	#panel-ul {
		height: 100%;
		width: 80vw;
		padding-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.button-container {
		top: 40%;
	}

	#panel-item-locations {
		align-items: flex-start !important;
	}

	#container-subitems-location {
		flex-direction: column !important;
	}
}

@media only screen and (max-width: 768px) {
	.graph:before {
		padding-top: 86.71% !important;
	}

	#panel {
		top: 45vh;
		width: 100vw;
	}

	.panel-subitem-location {
		font-size: 0.800rem;
	}

	#panel-container {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.panel-item-label {
		font-size: 0.8rem;	
	}

	.ecopoint_modal .ecopoint_titre {
		font-size: 1.2rem;
	}

	.ecopoint_modal .ecopoint_description {
		font-size: 0.9rem;
	}
	
	.ecopoint_icons img {
		width: 60px;
	}

	.button-container {
		top: 35%;
	}
}

@media only screen and (max-width: 576px) {
	.modal_pointer, .ecopoint_modal_pointer, .transport_modal_pointer  {
		display: none;
	}

	.ecopoint_modal, .lieu_interet_modal, .transport_modal {
		top: 20px !important;
		right: 20px !important;
		width: 200px !important;
	}

	.ecopoint_modal {
		top: 20px !important;
		right: 20px !important;
		width: 130px;
	}

	.ecopoint_modal .ecopoint_titre {
		font-size: 1rem;
	}

	.ecopoint_modal .ecopoint_description {
		font-size: 0.7rem;
	}

	.ecopoint_icons img {
		width: 35px;
	}

	#panel {
		top: 40vh;
		width: 100vw;
	}

	#panel-container li span {
		font-size: 0.850rem;
	
		color: var(--text);
	}

	.button-container {
		top: 35%;
	}
}

.fill-ecopoint rect {
	transition: .3s;
	fill: var(--bg-active-ecopoint) !important;
}

.fill-location circle {
	transition: .3s;
	fill: var(--bg-active-lieux_interet) !important;
}

.fill-transport circle {
	transition: .3s;
	fill: var(--bg-active-transport) !important;
}