:root {
	--primary: #0077c1;
	--text: white;

	--text-hover: #a3b9c7;

	--bg-card-ecopoint: #86bc25;
	--bg-card-lieu_interet: white;
	--bg-card-transport: #ed7607;
	--color-card-lieu_interet: rgb(29, 29, 29);

	--bg-active-ecopoint: rgb(0, 88, 21);
	--bg-active-lieux_interet: #005082;
	--bg-active-transport: #411f00;

	--icon-close-color-lieux_interet: rgb(255, 94, 94);

	--hover-close-icon-lieux_interet: rgb(254, 74, 74);
	--hover-close-icon-ecopoints: rgb(255, 187, 187);
	--show-location-list: #86a7bc;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

/* map */

body {
	overflow: hidden;
	margin: 0;
}

.graph {
	position: relative;
	display: block;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	cursor: all-scroll;
}

.graph:before {
	content: "";
	padding-top: 70.71%;
	display: block;
}

/* PANEL */
.panel-hide {
	transform: translateX(-100vw);
	transition: 1s;
}

.panel-show {
	transform: translateX(0);
	transition: 1s;
}

#container-hide-panel {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: -40px;

	padding: 15px;
	border-radius: 100%;
	border: 1px solid white;
}

#container-show-panel {
	cursor: pointer;
	z-index: 1;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: var(--primary);
	padding: 15px;
	border-radius: 100%;
}

#icon-hide-panel {
	fill: white;
	width: 25px;
	height: 25px;
}

#icon-show-panel {
	fill: white;
	width: 25px;
	height: 25px;
}

#panel {
	display: flex;
	justify-content: center;
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 25vw;
	background-color: var(--primary);
}

#panel-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#panel-ul {
	height: 100vh;
}

#panel-container li {
	cursor: pointer;
}

#panel-container li:hover {
	color: var(--text-hover);
}

#panel-container ul {
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#panel-container li {
	list-style: none;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}

#panel-container li span {
	font-size: 1.125rem;

	color: var(--text);
}

.panel-icon-eye-close,
.panel-icon-eye-open {
	width: 30px;
	margin-right: 10px;
}

.panel-icon-more {
	width: 30px;
	margin-left: 10px;
}

.panel-icon-more--active {
	transform: rotate(180deg) !important;
}

.panel-subitem-location {
}

.panel-subitem-location--svg circle {
	fill: var(--show-location-list) !important;
	transition: 0.5s;
}

.panel-item-extensible {
	display: flex;
	flex-direction: column;
}

.panel-item-extensible li {
	margin-bottom: 10px !important;
	color: white;
}

.panel-item-extensible-number {
	margin-right: 10px;
	font-size: 1rem !important;
	font-weight: 700;
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 100%;
	color: var(--primary) !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel-item {
}

.panel-item--active {
	opacity: 1;
}

.panel-item--inactive {
	opacity: 0.5;
}

#troinex {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

a {
	text-decoration: none;
}

.button-container {
	display: flex;
	position: fixed;
	z-index: 999;
	bottom: 10px;
	right: 10px;
}

.button-container .button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	font-size: 30px;
	line-height: 28px;
	text-align: center;
	background: #0078c1;
	color: var(--text);
}

#zoomIn {
	border-radius: 10px 0 0 10px;
	margin-right: 1px;
}

#zoomOut {
	border-radius: 0 10px 10px 0;
}

/* rest */
.hide {
	display: none !important;
}

/* LIEUX INTERET*/
.lieu_interet_modal {
	position: absolute;
	z-index: 100;
	width: 300px;
	padding: 10px;
	background-color: var(--bg-card-lieu_interet);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.373);
	animation: fadein 0.5s forwards;
	color: var(--color-card-lieu_interet);
}

#lieu_interet_modal_close_icon {
	position: absolute;
	top: 15px;
	right: 15px;
	color: var(--icon-close-color-lieux_interet) !important;
	cursor: pointer;
}

#lieu_interet_modal_close_icon:hover {
	color: var(--hover-close-icon-lieux_interet) !important;
}

#LIEUX_INTERET {
	cursor: pointer;
}

.lieu_interet_image {
	border-radius: 5px;
	height: 150px;
	width: 100%;
	object-fit: cover;
}

.lieu_interet_url {
	font-weight: bold;
}

.lieu_interet_titre {
	font-size: 1.5rem;
	margin: 10px 0;
}

.modal_pointer {
	position: absolute;
	left: -20px;
	top: 48%;
	border: 10px solid black;
	border-color: transparent var(--bg-card-lieu_interet) transparent transparent;

	width: 0px;
	height: 0px;
}

.modal_pointer--reversed {
	transform: rotate(180deg) !important;
	position: absolute;
	left: 320px;
}

.active {
	fill: var(--bg-active-lieux_interet) !important;
}

/* ECOPOINTS */
#ECOPOINTS {
	cursor: pointer;
}

.ecopoint_modal {
	position: absolute;
	z-index: 1000000;
	width: 300px;
	padding: 10px;
	background-color: var(--bg-card-ecopoint);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.373);
	animation: fadein 0.5s forwards;
	color: white;
}

#ecopoint_modal_close_icon {
	position: absolute;
	top: 15px;
	right: 15px;
	color: rgb(255, 255, 255) !important;
	cursor: pointer;
}

#ecopoint_modal_close_icon:hover {
	color: var(--hover-close-icon-ecopoints) !important;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ecopoint_url {
	font-weight: bold;
}

.ecopoint_titre {
	font-size: 1.5rem;
	margin: 10px 0;
}

.ecopoint_modal_pointer {
	position: absolute;
	left: -20px;
	top: 40%;
	border: 10px solid var(--bg-card-ecopoint);
	border-color: transparent var(--bg-card-ecopoint) transparent transparent;

	width: 0px;
	height: 0px;
}

.ecopoint_modal_pointer--reversed {
	transform: rotate(180deg) !important;
	position: absolute;
	left: 320px;
}

.ecopoint_icon {
	width: 70px;
	margin-right: 5px;
}

.active-ecopoint {
	fill: var(--bg-active-ecopoint) !important;
}

/* TRANSPORTS */

#TRANSPORTS {
	cursor: pointer;
}
.transport_modal {
	position: absolute;
	z-index: 1000000;
	width: 300px;
	padding: 10px;
	background-color: var(--bg-card-transport);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.373);
	animation: fadein 0.5s forwards;
	color: white;
}

#transport_modal_close_icon {
	position: absolute;
	top: 15px;
	right: 15px;
	color: rgb(255, 255, 255) !important;
	cursor: pointer;
}

#transport_modal_close_icon:hover {
	color: var(--hover-close-icon-transports) !important;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.transport_url {
	font-weight: bold;
}

.transport_titre {
	font-size: 1.5rem;
	margin: 10px 0;
}

.transport_modal_pointer {
	position: absolute;
	left: -20px;
	top: 40%;
	border: 10px solid var(--bg-card-transport);
	border-color: transparent var(--bg-card-transport) transparent transparent;

	width: 0px;
	height: 0px;
}

.transport_modal_pointer--reversed {
	transform: rotate(180deg) !important;
	position: absolute;
	left: 320px;
}

.transport_icon {
	width: 70px;
	margin-right: 5px;
}

.active-transport {
	fill: var(--bg-active-transport) !important;
}

/* Helper */
.helper-focus rect {
	fill: red !important;
}

.helper-focus circle {
	fill: red !important;
}

/* ALL */
.svg-scrim {
	pointer-events: none;
	z-index: 5;
}

.wheel-animation {
	animation: pulse 1s infinite !important;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.proxy {
	fill: none;
	stroke: none;
}

.controls {
	position: fixed;
	top: 0;
	left: 0;
	padding: 12px;
	z-index: 10;
}

.controls-button {
	font-weight: 700;
}

.info {
	user-select: none;
	pointer-events: none;
}

.info ul {
	font-size: 13px;
	list-style-type: none;
	padding: 0;
	line-height: 20px;
	margin-top: 0;
}

.svg-background {
	fill: none;
	stroke: none;
}

/* btn */
.btn-zoom {
	width: 50px;
	height: 50px;
	font-size: 3rem;
	border-radius: 100%;
	border: none;
	cursor: pointer;
}

.btn-filter {
	width: 100px;
	height: 50px;
	margin-bottom: 5px;
	border: none;
	cursor: pointer;
	background-color: rgb(185, 255, 183) !important;
	font-weight: bold;
}

#reset-btn {
	width: 100px;
	height: 40px;
	font-size: 2rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

#zoom-in-btn {
	background-color: lightgreen;
}

#zoom-in-btn:hover {
	background-color: rgb(191, 238, 191);
}

#zoom-out-btn {
	background-color: crimson;
}

#zoom-out-btn:hover {
	background-color: rgb(218, 87, 113);
}

.btn--disabled {
	background-color: lightgray !important;
	color: gray;
}
